<div class="span8 offset3 ice-box text-center">
	<h1 class="sauce">
		Hi I'm a Sheeple
	</h1>
	<br/>
	<h3>
	    Who has got sheep? We've got the sheep. We know what to do with them. We eat sleep and dream of sheep. (But not in a weird way, just the normal, dreaming of sheep way)
	</h3>
	<br/>
	<%= link_to 'Launch A Sheep', pics_path, :class =>'btn btn-info' %>

</div>