/*This file is to store in the CSS sheets I took from hapless websites */
@import url(http://fonts.googleapis.com/css?family=Fauna+One);

.ice-box {
	box-shadow: 2px -2px 2px 2px rgba(36,32,33,0.50);
	background-color: rgba(36,32,33,0.50);
	padding: 1%;
	color: white;
}
.sauce {
	font-family: Fauna One, Helvetica Neue Light, Helvetica Neue, Helvetica, sans-serif;
	font-weight: 100;
	line-height: 60px;
}
h3 {
	font-family: Garamond, Helvetica Neue Light, Helvetica Neue, Helvetica, sans-serif;
	font-weight: 200;
	font-size: 24px;
}
h4 {
	font-family: Helvetica, Helvetica Neue Light, Helvetica Neue, Helvetica, sans-serif;
	font-weight: 200;
	font-size: 18px;
}
body{
	background: url('bg.jpg') no-repeat center center fixed; 
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
label{
	color: white;
	font-size: 20px;
	font-family: Helvetica, Helvetica Neue Light, Helvetica Neue, Helvetica, sans-serif;
}